/*General colors*/
$color-grey-very-light: #e1e4ea;
$color-grey-super-light: #f4f6fc;
$color-grey-super-ultra-light: #f9fbff;
$color-grey-light: #9ea8bb;
$color-grey-normal: #23262b;
$color-blue-ultra-light: #f2f8f8;
$color-blue-very-light: #e9edee;
$color-blue-light: #d2e0ff;
$color-blue-mid: #98a2b8;
$color-blue-normal: #94a2bc;
$color-red-very-light: #e7d2d3;
$color-red-light: #dbbcb7;
$color-red-normal: #dbb7b8;
$color-yellow-very-light: #F7EDE2;
$color-yellow-light: #e0c1a0;
$color-yellow-normal: #eabf90;
$color-green-very-light: #e8f9f7;
$color-green-light: #e1e9b7;
$color-green-normal: #bdd299;
$color-purple-very-light: #feecf7;
$color-purple-light: #fadddd;
$color-purple-normal: #e3c7c7;
$color-white-very-light: #ffffff;
$color-white-light: #f3f3f3;
$color-white-normal: #e4e4e4;

$color-default: $color-grey-normal;